<h1>USERS</h1>

<div>
    <card>
        <table>
            <thead>
                <tr>
                    <th>
                        name
                    </th>
                    <th>email

                    </th>
                </tr>


            </thead>
            <tbody>
                {% for users in arr %}

                <tr>
                    <td>
                        {{ users.name}}
                    </td>
                    <td>
                        {{ users.email}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </card>
</div>


<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    
    th,
    td {
        padding: 5px;
        text-align: left;
    }
</style>
<a href="http://127.0.0.1:5000/result">ADD USER</a>